body {
	line-height: 1.6;
}



h1 {
  font-size: 90px;
}
h2 {
  font-size : 64px
}
h3 {
  font-size: 48px;
}
h4{
  font-size: 36px;
}

.sWrap{
padding: 0 10%;
box-sizing: border-box;
}

.sectionP{
  padding: 0 3%;
  box-sizing: border-box;
}

.fixH{
  margin-top: -50px;
  padding-top: 50px;
}
.h1txt{
  font-size: 96px;
}


p{
  font-size: 32px;
  font-weight: 400;
}
a{
  text-decoration: none;
  color: inherit;
}